@{
    ViewBag.Title = "Details";
}
@{
    List<String> date = ViewData["MyProduct600"] as List<string>;
    List<double> position = new List<double>();
}


<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
        overflow: visible;
    }
</style>

<div class="row">
    <br />
    <div class="col-md-3">
        <input type="button" value="CHeckint" id="btn646" />
        <a id="btn645" href="https://foursquare.com/oauth2/authenticate?client_id=N3VEEGBW2Y31BO4MOAEKR02JBGIW3UVXTMSHZO4JW1JZKMW3&response_type=token&redirect_uri=http://localhost:8550/Home/Index">Visit our HTML tutorial</a>

        <h3>Search Fitness Centers:</h3>
        <input type="button" value="CHeckin" id="btn4" />
    </div>
    <div class="col-md-8">
        <div class="row">
            <br />
            <div class="col-md-3">
                <input type="text" value="" id="searchPlace">
            </div>
            <div class="col-md-5">
                <input type="button" value="Search" id="btn" />
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/FourSquare.js"></script>
<div class="row">
    <div class="col-md-12">
        <div id="map" onload="hello()"></div>
    </div>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrvkfQB_Mfp7L9r1PKvU8AnTFmm9O8RlA&callback=initialize">
</script>
