@{
    ViewBag.Title = "About";
}
<h2>Get To Know Us<br></h2>
<h4>Fit Buddy's History and Mission<br></h4>

<br /><br />
<p>
    Fit Buddy was founded by CEO Lao Vue on April 10th, 2017. Lao saw the need for a user-friendly community for fitness goers.
    One that would allow users to connect with friends and like-minded individuals where users can share workout plans and communicate
    through the Fit Buddy application. Fit Buddy went public on April 18th, 2017.
</p>

<br /><br />
<h5>Our Mission</h5>
<br />
<p>Fit Buddy aims to provide users with a full package planner that allows users to keep track of their workouts, and have access to a fitness community through a buddy system.</p>