@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us<br></h2>
<h5>We will return your call or email in the next 24 hours.</h5>
<br /><br />
<address>Fit Buddy Street<br>
    Mi, WA 98052-6399<br>
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>