@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/18049718_1882166412044133_1711548920_o.png" style="max-width:100%" />
        </div>
    </div>
    @*<div class="jumbotron">
        
    </div>*@

    <div class="row">
        <div class="col-md-4">
            <h2>Connect With Friends<br></h2>
            <p>Once you create your free account, you can view other users' workout plans and see their activities in real time. You can also chat with other users and see when they have checked-in at fitness centers.<br></p>
        </div>
        <div class="col-md-4">
            <h2>Stay Organized<br></h2>
            <p>Get access to a fully customizable schedule for each day of the week. Add pictures, and notes to keep your workout plans organized. Users whom you have accepted as your Fit Buddies will be able to view your workout schedule.<br></p>
        </div>
        <div class="col-md-4">
            <h2>Check-In<br></h2>
            <p>You can easily check into fitness centers. Thus, updating your profile feed so that other users can stay up to date with your gym activities. Ultimately, we hope this will create an atmosphere that positively motivates other users to go to the gym more.<br></p>
        </div>
    </div>
</body>
