
@{
    ViewBag.Title = "ProfilePage";
}

<h2>ProfilePage</h2>

<img alt="" src="@ViewBag.Base64String" style="height:100px;width:100px;" />

<dt>Password:</dt>
<dd>
        @Html.ActionLink("Change your password", "ChangePassword","Manage")
</dd>