
<h2>Search a User</h2>
<h4>Type in the name of a user</h4>

<div class="row">
    <br />
    <br />
    <br />
    <div class="col-md-2">
        <input type="text" name="firstname" value="" id="find">
    </div>
    <div class="col-md-8">
        <input type="submit" value="Search" id="btn2" class="btn btn-default" />
    </div>
</div>


<script src="~/Scripts/searchUser.js"></script>
